@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: #8b5cf6;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 500px;
    margin: auto;
}

hr{
    margin: 2rem 0rem;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-color{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.secondary-color{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}